@import url('https://fonts.googleapis.com/css?family=Nunito');

 html {
   font-family: 'Nunito', serif;
  }
 /* label color */
 .input-field label {
    color: #FFFFFF;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #8E480F;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #710000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #33C9FF;
    box-shadow: 0 1px 0 0 #C60F0F;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #F20000;
    box-shadow: 0 1px 0 0 #FF0000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #72360C;
  }
nav ul a,
nav .brand-logo {
  color: #444;
}
#nav_bar{
  z-index: 5;
}
#logo-container{
  margin-left: 15px;
}
.link{
  font-weight: bold;
  -webkit-text-fill-color: #e65100;
}
p {
  line-height: 2rem;
}
#logoTwit{
  width: 35px;
  height: 35px;
  position: relative;
  top: 12px;
  margin-right: 5px;
  margin-left: 15px;
}
#logoGit{
  width: 35px;
  height: 35px;
  position: relative;
  top: 12px;
}
.logo:hover{
  background-color: black;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
@media only screen and (max-width : 992px) {
  #nav-mobile li a{
    text-align: center;
    padding-top: 1px;
    font-size: 18px;
  }
  #logo-container{
    font-size: 30px;
    padding-right: 15px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
  }
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  #logoTwit{
    visibility: hidden;
  }
  #logoGit{
    visibility: hidden;
  }
}

@media only screen and (max-width : 600px) {
  h2{
    font-size: 35px;
  }
  .row h1{
    font-size: 50px;
  }
  #index-banner .section {
    top: 0;
  }
  #logo-container{
    font-size: 20px;
    padding-right: 15px;
    font-weight: bold;
    text-align: center;
  }
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}